header {
    background-image: url('../img/web-design-2906159_1920.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-bottom: 10rem;
}

header #yo {
    padding-top: 100px;
}

/* MIS TRABAJOS */

#suscriptor img {
    height: 500px;
}


.educacion #universidad {
    width: 100px;
    height: 125px;
}

.educacion #scrum {
    width: 125px;
    height: 125px;
}